@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "W95FA";
  src: url("./fonts/W95FA.otf");
}

@font-face {
  font-family: "times";
  src: url("./fonts/TIMES.TTF");
}

.winBoxShadow {
  background: #c0c0c0;
  box-shadow: inset -1px -1px 0px #000000, inset 1px 1px 0px #ffffff,
    inset -2px -2px 0px #7f7f7f, inset 2px 2px 0px #dfdfdf;
}

.timeBoxShadow {
  background: #c0c0c0;
  box-shadow: inset -1px -1px 0px #ffffff, inset 1px 1px 0px #808080;
}

.dialogBoxShadow {
  background: #c0c0c0;
  box-shadow: inset -1px -1px 0px #000000, inset 1px 1px 0px #c1c1c1,
    inset -2px -2px 0px #818181, inset 2px 2px 0px #ffffff;
}

.btnBoxShadow {
  background: #c0c0c0;
  box-shadow: inset -1px -1px 0px #000000, inset 1px 1px 0px #ffffff,
    inset -2px -2px 0px #818181;
}

.disabledBtn {
  background: #c0c0c0;
  box-shadow: inset -1px -1px 0px #000000, inset 1px 1px 0px #ffffff,
    inset -2px -2px 0px #818181;
}

.btnBoxShadow:active {
  background: #756363;
  box-shadow: inset -1px -1px 0px #ffffff, inset 1px 1px 0px #000000,
    inset -2px -2px 0px #c4c4c4, inset 2px 2px 0px #808080;
}

.redeemInput {
  background: #ffffff;
  box-shadow: inset -1px -1px 0px #ffffff, inset 1px 1px 0px #808080,
    inset -2px -2px 0px #c1c1c1, inset 2px 2px 0px #000000;
}

.btnInputBoxShadow {
  background: #c0c0c0;
  box-shadow: inset -1px -1px 0px #000000, inset 1px 1px 0px #000000,
    inset -2px -2px 0px #000000, inset 2px 2px 0px #ffffff,
    inset -3px -3px 0px #7f7f7f, inset 3px 3px 0px #dfdfdf;
}

.btnInputBoxShadow:active {
  background: #c0c0c0;
  box-shadow: inset -1px -1px 0px #ffffff, inset 1px 1px 0px #000000,
    inset -2px -2px 0px #c4c4c4, inset 2px 2px 0px #808080;
}

.headerBarBoxShadow {
  background: #c0c0c0;
  box-shadow: inset -1px -1px 0px #000000, inset 1px 1px 0px #000000,
    inset 2px 2px 0px #ffffff, inset -3px -3px 0px #7f7f7f,
    inset 3px 3px 0px #dfdfdf;
}

.mailBoxShadow {
  box-shadow: inset -1px -1px 0px #ffffff, inset 1px -2px 0px #808080,
    inset -2px 1px 0px #808080, inset 0px 2px 0px #ffffff,
    inset 2px 2px 0px #ffffff;
}

.disabledText {
  color: #808080;
  text-shadow: 0.87px 0.88px 0px #ffffff;
}

.welcomeDiv {
  background: #ffffff;
  box-shadow: inset -1px -1px 0px #ffffff, inset 1px 1px 0px #808080,
    inset -2px -2px 0px #c1c1c1, inset 2px 2px 0px #000000;
}

.checkBoxShadow {
  background: #ffffff;
  box-shadow: inset -1px -1px 0px #ffffff, inset 1px 1px 0px #808080,
    inset -2px -2px 0px #c1c1c1, inset 2px 2px 0px #000000;
}

/* input[type="checkbox"]:checked {
  background: #ffffff;
} */
