@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "W95FA";
  src: url("./fonts/W95FA.otf");
}

.winBoxShadow {
  background: #c0c0c0;
  box-shadow: inset -1px -1px 0px #000000, inset 1px 1px 0px #ffffff,
    inset -2px -2px 0px #7f7f7f, inset 2px 2px 0px #dfdfdf;
}

.timeBoxShadow {
  background: #c0c0c0;
  box-shadow: inset -1px -1px 0px #ffffff, inset 1px 1px 0px #808080;
}

.dialogBoxShadow {
  background: #c0c0c0;
  box-shadow: inset -1px -1px 0px #000000, inset 1px 1px 0px #c1c1c1,
    inset -2px -2px 0px #818181, inset 2px 2px 0px #ffffff;
}

.btnBoxShadow {
  background: #c0c0c0;
  box-shadow: inset -1px -1px 0px #000000, inset 1px 1px 0px #ffffff,
    inset -2px -2px 0px #818181;
}

.btnBoxShadow:active {
  background: #c0c0c0;
  box-shadow: inset -1px -1px 0px #ffffff, inset 1px 1px 0px #000000,
    inset -2px -2px 0px #c4c4c4, inset 2px 2px 0px #808080;
}
